{% extends '::base.html.twig' %}

{% block title %}KALEDAscope of your {% endblock %}

{% block body %}
    {% block header %}
        <div class="navbar navbar-default navbar-fixed-top">
            <div>
                <div class="navbar-header">
                    <a href="{{ path('scope_app_homepage') }}" class="navbar-brand">KALEDA<sub>scope</sub></a>
                </div>
                <div class="navbar-collapse collapse" id="navbar-main">
                    <ul class="nav navbar-nav">

                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="https://vk.com/kaledaskope" target="_blank">
                                <i class="fa fa-vk"></i>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    {% endblock %}

    {% block content %}{% endblock %}
{% endblock %}
