<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        <link href="{{ asset('bundles/scopeapp/css/style.css') }}" rel="stylesheet"/>
        {% block stylesheets %}{% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('bundles/scopeapp/js/jquery-2.1.1.min.js') }} "></script>
            <script type="text/javascript" src="{{ asset('bundles/scopeapp/js/kaleidoscope.js') }} "></script>
        {% endblock %}
    </body>
</html>
