{% extends 'ScopeAppBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/scopeapp/vendor/fotorama-4.4.9/fotorama.css') }}" rel="stylesheet"/>
{% endblock stylesheets %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/scopeapp/vendor/fotorama-4.4.9/fotorama.js') }} "></script>
    <script>
        $(function () {
            $('#content-gallery').fotorama();
        });
    </script>
{% endblock javascripts %}

{% block content %}
    <div class="content-circle" id="content-circle">
        <div id="content-gallery"
             class="content-gallery"
             data-width="420"
             data-height="400"
             data-allowfullscreen="false"
             data-arrows="true"
             data-click="true"
             data-swipe="false"
             data-keyboard="true"
             data-nav="false"
             data-autoplay="false"
        >
            <div>
                <h3>
                    Фото
                </h3>
                <ul>
                    <li>Портрет</li>
                    <li>Портфолио</li>
                    <li>Репортаж</li>
                    <li>Love Story</li>
                    <li>Реклама</li>
                    <li>...</li>
                </ul>
            </div>

            <div>
                <h3>
                    Видео
                </h3>
                <p>
                    Помогаю подобрать образ и воплотить его в жизнь. Сотрудничаю с визажистами и костюмерами.
                </p>
            </div>

            <div>
                <h3>
                    Ретушь
                </h3>
            </div>

            <div>
                <h3>
                    Монтаж
                </h3>
            </div>

            <div>
                <h3>
                    Заказ
                </h3>
                <p>
                    Звоните на номер +37544 596 36 95,
                    пишите <a href="mailto:kaleda-92@mail.ru?subject=KALEDAscope.by" target="_blank">письма</a>
                    или <a href="https://vk.com/kaledaskope" target="_blank">сообщения</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
